<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"> 
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body style="background-color:#eaeaea">
    
        	
           <div style="width: 95%; height:960px; margin: 200px auto 0 auto; background-color:#eaeaea; text-align: center">
           <div style="width:100%; background-color:#eaeaea; float:left">
          <table style='width: 85%; border: 1px; border-color:black; border-style: double; text-align: center; font-size: 15px; font-family: "Arial"'>
            <tr>
                <th style="background-color: #b3cef5; width: 2%"></th>
                <th style="background-color: #b3cef5; width: 22%">Deg&euml;t dhe p&euml;rgjegj&euml;sit p&euml;r celesa dhe kode</th>
                <th style="background-color: #a9b8cc; width: 30%">&Ccedil;el&euml;sat dhe kodet deg&euml;</th>
                <th style="background-color: #f5b0c5; width: 38%">&Ccedil;el&euml;sat dhe kodet trezor dhe kodet alarm</th>
            </tr>
        </table>
        <table style='width: 85%; border: 1px; border-color:black; border-style: double; text-align: center;font-size: 12px;  font-family: "Arial"'>
            <tr>
                <td style="background-color: #b3cef5;  width: 2%; text-justify: auto "><b>Nr</b></td>
                <td style="background-color: #b3cef5; width: 10%"><b>Deg&euml;t</b></td>
                <td style="background-color: #b3cef5; width: 10%"><b>P&euml;rgjegj&euml;si i deg&euml;s</b></td>
                
                <td style="background-color: #a9b8cc; width: 7%"><b>&Ccedil;el&euml;si i hyrjes deg&euml; (Emri Mbiemri)</b></td>
                <td style="background-color: #a9b8cc; width: 7%"><b>Kodi i alarmit deg&euml; (Emri Mbiemri)</b></td>
                <td style="background-color: #a9b8cc; width: 7%"><b>&Ccedil;el&euml;si i der&euml;s ATM (Emri Mbiemri)</b></td>
                <td style="background-color: #a9b8cc; width: 7%"><b>&Ccedil;el&euml;si i Server room (Emri Mbiemri)</b></td>
                
                <td style="background-color: #f5b0c5; width: 7%"><b>&Ccedil;el&euml;si Trezor (Emri Mbiemri)</b></td>
                <td style="background-color: #f5b0c5; width: 7%"><b>Kodi alarmit trezor(n&euml;se ka)(Emri Mbiemri)</b></td>
                <td style="background-color: #f5b0c5; width: 7%"><b>&Ccedil;el&euml;si Sef 1 (Emri Mbiemri)</b></td>
                <td style="background-color: #f5b0c5; width: 7%"><b>Kodi shif&euml;r sef (Emri Mbiemri)</b></td>
                <td style="background-color: #f5b0c5; width: 7%"><b>&Ccedil;el&euml;si Sef 2 (Emri Mbiemri)</b></td>
            </tr>
            </table>
            <div th:each="dega, iteStat : ${deget}">
            <table th:if="${not #sets.isEmpty(deget)}" style='width: 100%; border:1px double black; text-align: center;font-size: 12px;  font-family: "Arial"'>
           
	         <tbody>
	            <tr style="height: 35px">
	                <td style=" width: 2%; background-color: #b3cef5" th:text="${dega.id}"></td>
	                <td style=" width: 10%; background-color: #b3cef5" th:text="${dega.dega}" ></td>
	                <td style=" width: 10%; background-color: #b3cef5" th:text="${dega.pergjegjesiIDeges}"></td>
	                
	                <td style=" width: 7%; background-color: #a9b8cc" th:text="${dega.celesiIHyrjesDege}"></td>
	                <td style=" width: 7%; background-color: #a9b8cc" th:text="${dega.kodiAlarmitDege}"></td>
					<td style=" width: 7%; background-color: #a9b8cc" th:text="${dega.celesiIDeresAtm}"></td>
	                <td style=" width: 7%; background-color: #a9b8cc" th:text="${dega.celesiIServerRoom}"></td>
	                
	                <td style=" width: 7%; background-color: #f5b0c5" th:text="${dega.celesiTrezor}"></td>
	                <td style=" width: 7%; background-color: #f5b0c5" th:text="${dega.kodiAlarmitTrezor}"></td>
	                <td style=" width: 7%; background-color: #f5b0c5" th:text="${dega.celesiSef1}"></td>
	                <td style=" width: 7%; background-color: #f5b0c5" th:text="${dega.kodiShiferSef}"></td>
	                <td style=" width: 7%; background-color: #f5b0c5" th:text="${dega.celesiSef2}"></td>
	               	<td><a style="width: 7.5%" th:href="@{/fshijDegen/(id=${dega.id})}">Fshij Degen</a> </td>
	               	<td><a style="width: 7.5 %" th:href="@{/updateKey/(id=${dega.id})}">Modifiko Degen</a></td>
	              	
	              	
	            </tr>
            </tbody>       
        </table>
        
        </div>
        <div style="margin-top:20px; margin-bottom:20px; margin-left:40%; float:left" class="butonat">
            <form style="float:left; margin-bottom:20px;" method="get" action="/addKey">
                <button type="submit">Shto deg&euml;t</button>
            </form> 
       		<form style="margin-top:20px" th:action="@{/logout}" method="post">
            	<input type="submit" value="Sign Out"/>
        	</form>
      	 </div>
        </div>
        
         
        </div>
    </body>
</html>
